.Product {
    margin: 20px;
    height: 100%;
    position: relative;
    display: flex;
    align-content: stretch;
    justify-content: space-between;
}

.statistics {
    width: 73%;
    display: flex;
    flex-flow: column wrap;
}
