.Chart {
    background-color: white;
    font-size: 0.75rem;
}

.Chart table {
    border-collapse: collapse;
    width: 100%;
}

.Chart td,
.Chart th {
    border-bottom: 2px solid #f6f8fa;
    text-align: right;
    margin: 0;
}

.Chart th {
    padding: 35px;
    padding-right: 15px;
    font-weight: 400;
}

.Chart td {
    padding: 20px 35px;
    color: #a0abba;
}

.Chart th img {
    margin-left: 12px;
    text-align: middle;
    width: 8px;
    opacity: 0.3;
}

.Chart th img:hover {
    margin-left: 12px;
    text-align: middle;
    width: 8px;
    opacity: 0.7;
}

.Chart th button {
    cursor: pointer;
    background-color: inherit;
    border: none;
    margin: 0;
    padding: 0;
}

.Chart tr:hover td {
    background-color: #46a7f6;
    color: #fff;
}

.Chart tr td:nth-child(1),
.Chart th:nth-child(1) {
    text-align: left;
}
