.NavigationBar {
    background-color: #fff;
    width: 100%;
    height: 80px;
    margin: 0;
    padding: 20px 40px;
    position: relative;
    box-shadow: 1px 0 0 2px rgb(236, 236, 236);
    margin-bottom: 60px;
}

.NavigationBar div {
    position: relative;
    vertical-align: middle;
    display: inline-block;
}

.NavigationBar p {
    display: inline-block;
    font-weight: 800;
}

.NavigationBar img {
    max-height: 32px;
}
