.NavigationBar {
    background-color: #fff;
    width: 100%;
    height: 40px;
    margin: 0;
    padding: 20px 40px;
    display: inline-block;
    box-shadow: 1px 0 5px 1px rgb(236, 236, 236);
    margin-bottom: 60px;
}
